/*=============== Buttons ===============*/
.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 1.1em 2.1em;
  border-radius: 1.56rem;
  font-weight: var(--semibold);
  transition: .3s;
}

.button:hover{
   background-color: var(--primary-color-alt);
}


.button--flex {
  display: inline-block;
  align-items: flex-start;
  column-gap: .3rem;
}


.category__btn {
  color: var(--text-color-alt);
  font-weight: var(--bold);
  font-family: var(--mono-font);
  position: relative;
}

.category__btn:hover{
  color: var(--primary-color);
}


.category__btn::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: -.5rem;
  width: 7px;
  height: 2px;
  background-color: var(--primary-color);
  opacity: 0;
  transition: .3s;
}

.category__btn:hover::after{
  opacity: 1;
}

.contact__button{
  margin-top: 1.875rem;
  width: 100%;
  box-shadow: 0 1px 29px rgb(0 0 0 / 40%);
}