/*=============== Header ===============*/
.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav{
  height: calc(var(--header-height) + .875rem);
  display: flex;
  align-items: flex-end;
}

.nav__list{
  display: flex;
  column-gap: 3.25rem;
}

.nav__link{
  color: #fff;
  font-size: .9rem;
  font-weight: var(--bold);
  font-family: var(--mono-font);
  text-transform: uppercase;
  position: relative;
  transition: .3s;
}

.nav__link:hover{
  opacity: .5;
}

.nav__link::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: -.5rem;
  width: 7px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: .3s;
}

.nav__link:hover::after{
  opacity: 1;
}

.nav__close,
.nav__toggle{
  display: none;
}