/*=============== Header ===============*/
.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: .3s;
}

.nav{
  height: calc(var(--header-height) + .875rem);
  display: flex;
  align-items: flex-end;
}

.nav__list{
  display: flex;
  column-gap: 3.25rem;
}

.nav__link{
  color: #fff;
  font-size: .9rem;
  font-weight: var(--bold);
  font-family: var(--mono-font);
  text-transform: uppercase;
  position: relative;
  transition: .3s;
}

.nav__link:hover{
  opacity: .5;
}

.nav__link::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: -.5rem;
  width: 7px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: .3s;
}

.nav__link:hover::after{
  opacity: 1;
}

.nav__close,
.nav__toggle{
  display: none;
}



/* Scroll Header */
.scroll-header{
  position: fixed;
  background-color: var(--bg-color);
  box-shadow: 0 5px 8px 0 rgb(0 0 0 /14%);
}

.scroll-header .nav__link {
  color: var(--text-color);
}

.scroll-header .nav{
  align-items: center;
}

.scroll-header .nav__link::after{
  background-color: var(--text-color);
}

.scroll-header .nav__link:hover,
.scroll-header .active-link{
  color: var(--primary-color);
}


/*=============== BreakPoints ===============*/
/* for large devices */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  .nav__menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
  }

  .nav__list{
    flex-direction: column;
    row-gap: 2.125rem;
    text-align: center;
  }

  .nav__toggle,
  .nav__close{
    display: block;
  }

  .nav__close{
    font-size: 1.5rem;
    position: absolute;
    top: 2.7rem;
    left: 8%;
    cursor: pointer;
    color: #fff;
  }

  .nav__toggle{
    color: #fff;
    font-size: 1.25rem;
    opacity: .5;
  }

  .scroll-header .nav__toggle{
    color: var(--text-color);
    opacity: 1;
  }

}

/* for medium devices */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/* for small devices */
@media screen and (max-width: 350px) {
}