/*=============== Services ===============*/
.services__container{ 
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}

.services__item {
  border: 1px solid var(--border-color);
  padding: 2.5rem 1.25rem 1.875rem;
  text-align: center;
}

.icon__box{
  border: 1px solid var(--border-color);
  width: 82px;
  height: 82px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  position: relative;
  display: flex;
}

.services__icon{
  width: 32px;
  margin: auto;
}


.services__dot{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: service-dot 2s linear infinite;
  animation-play-state: paused;
}

.services__item:hover .services__dot{
  animation-play-state: running;
}


@keyframes service-dot{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(1turn);
  }
}

.dot{
  width: 13px;
  height: 13px;
  background-color: var(--title-color);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: .9rem;
}

.services__title {
  margin-bottom: .8em;
}

/*=============== BreakPoints ===============*/
/* for large devices */
@media screen and (max-width: 1200px) {
  .services__container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
  }
}

@media screen and (max-width: 992px) {}

/* for medium devices */
@media screen and (max-width: 768px) {
  .services__container{
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 576px) {
}

/* for small devices */
@media screen and (max-width: 350px) {
}