/*=============== Skills ===============*/
.skills__container {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 7rem;
}

.skills__list {
  row-gap: 1.8rem;
}

.skills__titles{
  display: flex;
  justify-content: space-between;
  margin-bottom: .625rem;
}

.skills__bar,
.skills__percentage{
  height: 5px;
  border-radius: .25rem;
}

.skills__bar{
  background-color: var(--bg-color-alt);
}


.skills__percentage{
  display: block;
  background-color: var(--primary-color);
}

/*=============== BreakPoints ===============*/
/* for large devices */
@media screen and (max-width: 1200px) {
  
}

@media screen and (max-width: 992px) {}

/* for medium devices */
@media screen and (max-width: 768px) {
  .skills__container{
    grid-template-columns: 1fr;
    row-gap: 3.75rem;
  }
}

@media screen and (max-width: 576px) {
}

/* for small devices */
@media screen and (max-width: 350px) {
}